*//*selector {
  property: value;
  property: value;
  property: value;
}

body
  {
    background-color: indigo;
  }

p {
   color: green;
 }

p.byline{
   color:blue;
 }

#ingredients{

 }

:hover{
  background:indigo;
}
:focus{
  background:blue;
}
:active{
  background:green;
}

figure:nth-child(even){
  outline: 5px solid red;
}

<button class="green-button">Send Message</button>
*/*/
